

.content{
    display: flex;
}

.article{
    flex-grow: 1;
    font-size: 1.5rem;
}

.nav-link{
    padding: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav-link:hover{
    background-color: var(--color-primary);
    color: var(--font-white);
}

.selected{
    background-color: var(--color-primary);
    color: var(--font-white);
}

nav{
    order: -1;
    padding : 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav,aside{
    width: 25rem;
    font-size: 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: solid beige;
    
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-self: center;
    margin: 1rem;
    flex-direction: column;
    min-width: 40rem;
    align-items: center;
}

iframe{
    min-width: 60rem;
    min-height: 25rem;
}

.Container>h2{
    align-self: start;
    padding: 1rem;
    font-weight: bolder;
}

