:root {
    --color-secondary: #E75A0D;
    --color-primary: #17183B;
    --font-white : white;
  }

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font: 62.5%;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.button{
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Normal Buttons */
.btn-primary{
    background-color: var(--color-primary);
    color: var(--font-white);
    border: none;
}

.btn-secondary{
    background-color: var(--color-secondary);
    color: var(--font-white);
    border: none;
}

/* Link buttons */
.btn-link{
    background-color: var(--color-primary);
    color: var(--font-white);
    text-decoration: none;
}

.btn-link-icon{
       
    color: var(--font-white);
    text-decoration: none;
}

/* floating buttons */
.floating-btn-div{
   background-color: wheat;
    width: 15rem;
    height: 20rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}


.button-float{
    background-color: var(--color-primary);
    color: var(--font-white);
    border-radius: 50%;
    border:none;
    width: 2rem;
    height: 2rem;
   
}


/* outline buttons */

.btn-primary-outline{
    border: solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--font-white);
}

.btn-secondary-outline{
    border: solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--font-white);
}