:root{
    --color-green : green;
    --color-red : red;
    --color-orange  :orange;
    --background-color : white;
}


.avatar-badge{
    display: inline-flex;
    justify-content: center;
}

.badge-avatar{
    background-color: var(--color-green);
    border: solid 1px var(--background-color);
    position: relative;
    padding: 1rem;
    border-radius: 50%;
    align-self: flex-end;
    margin-left: 8rem;
    margin-bottom: 1rem;
    z-index: 1;
}

.badge{
    background-color: var(--color-red);
   border: solid 1px var(--background-color);
   height: 1.5rem;
   width: 1.5rem;
   border-radius: 50%;
   color: var(--background-color);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
 top: -0.5rem;
 right: -1rem;
 border-radius: 50%;
 
}

.button-badge{
   position: relative;
   display: inline-block;
}

.online{
    background-color: var(--color-green);
}

.away{
    background-color: var(--color-orange);
}

.busy{
    background-color: var(--color-red);
}